<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <div>
            <a href="/">Home</a> | 
            <a href="/pacientes/add">Adiciona novo Paciente</a> | 
            <a href="/pacientes">Mostra todos os Pacientes</a>
        </div>    
        <h1><%= title %></h1>